# Database
DB_HOST=<your-host>
DB_PORT=5432
DB_NAME=app_portfolio
DB_USER=<your-user>
DB_PASSWORD=<your-password>

# Redis
REDIS_HOST=<your-host>
REDIS_PORT=6379
REDIS_USERNAME=<your-username>
REDIS_PASSWORD=<your-password>

# MinIO
MINIO_ENDPOINT=<your-host>
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=<your-access-key>
MINIO_SECRET_KEY=<your-secret-key>
MINIO_BUCKET=app-portfolio

# CORS
CORS_ORIGIN=*

# Server
NODE_ENV=development
PORT=3000

# JWT
JWT_SECRET=<your-jwt-secret-key>
JWT_REFRESH_SECRET=<your-jwt-refresh-secret-key>